<div class="wrap-home">
    <div class="col-12 row tank"> 
        <div class="col-10">
          <label>Meu nome é {{ usuario.nome }}.</label><br />
          <span>Eu sou usuário comum do sistema.</span>
        </div>
        <div>
          <button routerLink="/" type="submit" class="btnx btn mybtn btn-primary tx-tfm">Logout</button>
        </div>
      </div>
      <div class="token">
      <span>Token de acesso {{ token }}.</span><br />
      </div>
</div>