<app-error-msg></app-error-msg>
<div class="wrap-login">
<div class="globe">
<div>
  <form #f="ngForm" [formGroup]="formularioDeUsuario" (ngSubmit)="onSubmit()" name="login">
      <div class="form-group">
          <label for="prioridade">Tipo</label>
          <select 
            formControlName="tipo"
            [(ngModel)]="usuario.tipoUsuario" 
            class="form-control"
            id="tipoUsuario"
            name="tipoUsuario" 
            required>
            <option value=1>ADMIN</option>
            <option value=2>CLIENTE</option>
      </select>
        </div>
      <div class="form-group">
          <label for="email">Nome</label>
          <input 
          formControlName="nome" 
          type="text" 
          [(ngModel)]="usuario.nome" 
          name="nome"  
          class="form-control" 
          id="nome" 
          placeholder="Digite o email">
       </div>
    <div class="form-group">
       <label for="email">Email</label>
       <input
       formControlName="email" 
       [(ngModel)]="usuario.email" 
       type="email" 
       name="email"  
       class="form-control" 
       id="email" 
       placeholder="Digite o email">
    </div>
    <div class="form-group">
       <label for="senha">Senha</label>
       <input 
       formControlName="senha"
       [(ngModel)]="usuario.senha" 
       type="password" 
       name="senha" 
       id="senha"
       class="form-control"
       placeholder="Digite a senha">      
    </div>
    <div class="col-md-12 text-center btnc ">
       <button type="submit" class=" btn btnx btn-block mybtn btn-primary tx-tfm">Cadastrar</button>
    </div>
  </form>
</div>
</div>
</div>