<app-error-msg></app-error-msg>
<div class="wrap-login">
<div class="globe">
<div class="col-md-12">
  <img [src]="imagemSrc" class="img-login">
</div>
<div>
  <form #f="ngForm" (ngSubmit)="onSubmit()" name="login">
    <div class="form-group">
       <label for="email">Email</label>
       <input 
       [(ngModel)]="login.email" 
       #conteudo="ngModel" 
       type="email" 
       name="email"  
       class="form-control" 
       id="email" 
       placeholder="Digite o email">
    </div>
    <div class="form-group">
       <label for="exampleInputEmail1">Senha</label>
       <input 
       type="password" 
       name="senha" 
       id="senha"  
       class="form-control"
       [(ngModel)]="login.senha" 
       #conteudo="ngModel"  
       placeholder="Digite a senha">
    </div>
    <div class="col-md-12 text-center">
         <button routerLink="cadastro" class="tx btn btn-link">Inscreva-se</button>
    </div>
    <div class="col-md-12 text-center ">
       <button type="submit" class=" btnx btn btn-block mybtn btn-primary tx-tfm">Login</button>
    </div>
  </form>
</div>
</div>
</div>