* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Bold;
}



.img-login {
  border-radius: 200px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.bt{
  float:left;
}
.globe{
  width: 230px;
}

.btnx {
  background: #7e01d1;
  border: #7e01d1;
}
.btnc{
  padding-top: 10px;
}

.btnx:hover {
  background: #fff;
  color: #7e01d1;
  border: #7e01d1;
  border:solid 1px;
}

.form-login {
  margin-top: 35px;
  width: 230px;
  justify-content: center;
}

.tx{
  color: #7e01d1;
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }
.container{
  width: 250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-home {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #7e01d1;
  }
  
.wrap-login {
    height: 700px;
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }

  .token{
    font-size: 10px;
    vertical-align: bottom;
    word-wrap: break-word;
  }

  .tank{
    height: 500px;
  }
  .wrap-home {
    height: 700px;
    width: 960px;
    background: #fff;
    border-radius: 10px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    padding: 60px;
  }
  